/* static/styles.css */

/* static/styles.css */

/* static/styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #343a40;
    /* Background image */
    background-image: url('./Budget.jpg'); /* Update with the correct path and filename */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
}


.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Fallback background color with opacity */
}

/* Rest of your existing CSS styles */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #343a40;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    border: 1px solid;
    width: 300px;
    text-align: center;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #007bff;
}

form {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

form label {
    font-weight: bold;
    color: #555;
}

form input[type="text"],
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #009dff;
    color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: #f8f9fa; /* Lighter background */
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul li:last-child {
    margin-bottom: 0;
}

ul li strong {
    font-weight: bold;
    color: #00c3ff; /* Highlight text */
}

ul li .month,
ul li .amount {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    color: #555; /* Subdued text color */
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
